# flyctl launch added from .gitignore
# Visual Studio Code
.vscode

# Git
**/.git

# Node modules
**/node_modules

# Built files
**/.nuxt
**/.output

# Development files (logs, caches, etc.)
fly.toml

# Ignore
**/ignore